name: Run pytest

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up python
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Test
        run: |
          uv sync --only-dev --frozen
          uv run pytest -v
